* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: "Quicksand", sans-serif;
  --secondary-font: "Pacifico", cursive;
  --third-font: "Poppins", sans-serif;
  --primary-color: #ff6600;
  --title-color: #232121;
  --white-color: #fff;
  --text-color: #161c2db3;
  --price-color: #ffc600;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: inline-block;
  border: none;

  font-family: var(--primary-font);
  font-size: 1.6rem;

  outline: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

body {
  color: var(--title-color);

  font-family: var(--primary-font);
  font-size: 1.8rem;
  line-height: 1.2;
}

/* header section starts */
#dark {
  display: none;
}

.header {
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url(./image/banner1.jpg);

  background-size: cover;
  background-repeat: no-repeat;

  min-height: 80vh;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.header__logo {
  color: var(--white-color);

  font-size: 3.3rem;
  font-weight: bold;
}

.navbar__search {
  position: relative;
}

.navbar__search input {
  padding: 1rem 5rem 1rem 2rem;

  border-radius: 0.5rem;

  color: var(--text-color);
}

.navbar__search label {
  position: absolute;
  top: 50%;
  right: 2.5rem;

  transform: translate(50%, -50%);

  font-size: 1.5rem;

  cursor: pointer;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.mode__container,
#menuButton {
  color: var(--white-color);
}

.mode__container {
  font-size: 2.4rem;
}

#menuButton {
  font-size: 3.1rem;
}

.header__content {
  margin-top: 10rem;

  color: var(--white-color);
}

.header__content h2 {
  max-width: 60rem;

  font-size: 5.4rem;

  text-transform: capitalize;
}

/* header section ends */
