* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: "Quicksand", sans-serif;
  --secondary-font: "Pacifico", cursive;
  --third-font: "Poppins", sans-serif;
  --primary-color: #ff6600;
  --title-color: #232121;
  --white-color: #fff;
  --text-color: #161c2db3;
  --price-color: #ffc600;
}

html {
  font-size: 62.5%;
}

.container {
}

body {
  font-family: var(--primary-font);
}
