* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: "Quicksand", sans-serif;
  --secondary-font: "Pacifico", cursive;
  --third-font: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
}
